:root {
    --background-color: #FFFFFF;
    --p-color: #E12C2C;
    --h1-color: #000000;
    --alt-text-color: #FFFFFF;
    --border-colour: #000000;
    --button-background-color: #E12C2C;
    --button-text-color: #FFFFFF;
    --navbar-background-color: #000000;
    --navbar-border-color: #E12C2C;
    --button-hover-color: #000000;
    --bar-background-color: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    font-size: 32px;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width: .75rem;
}
body::-webkit-scrollbar-track{
    background: var(--p-color);
}
body::-webkit-scrollbar-thumb{
    background: var(--navbar-background-color);
}
.main{
    background-color: var(--background-color);
}

.header-colours{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font: "Brush";
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--h1-color);
    padding-top: 125px; 
}

.header-p{
    text-align: center;
    color: var(--p-color);
    font: "Open Sans", sans-serif;
    font-size: 2.2rem;
}

.colours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: left;
}
.colour-item img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    border: var(--border-colour) 0.2rem solid;
    border-radius: 20px;
    margin: 5px;
}
.colour-item h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    color: var(--alt-text-color);
}
.colour-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    margin: 0 auto;   
    padding-top: 75px; 
}
.colour-item {
    position: relative;
}


a{
    text-decoration: none;
    color: black;
}
a:active{
    color: black;
}
.davis-title{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font: "Brush";
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--h1-color);
    padding-top: 125px; 
}
.colour-pallet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding-bottom: 60px;
}
.colour-pallet-item img{
    width: 500px;
    height: 500px;
    padding: 10px;
    object-fit: fill;
    box-sizing: border-box;
    outline: none;
}




img{
    transition: transform 0.25s ease;
}
img:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
#nav-logo-img{
    width: 13.4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--navbar-background-color);
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 5px solid var(--navbar-border-color);
}
.hamburger{
    display:none;
}
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: var(--navbar-background-color);
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;

    display: inline-block;
    background-color: var(--button-background-color);
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    font: "Open Sans", sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--button-text-color);
}
.nav-link:hover{
    color: var(--button-hover-color);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--navbar-background-color);
    color: var(--alt-text-color);
    text-align: center;
    padding: 10px;
    border-top: 3px solid var(--navbar-border-color);
    z-index: 999;
}

footer p {
    font-size: 16px;
    margin: 0;
}




@media only screen and (max-width: 1048px){
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--navbar-background-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        position: absolute;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .bar{
        background-color: var(--bar-background-color);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .container.active{
        padding-top: 200px;
        transform: translateY(10%);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3 ease-in-out;
    }
    .container{
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5 ease-in-out;
    }
}

@media only screen and (max-width: 425px){
    .colour-item img{
        width: 175px;
        height: 175px;
    }
    .colour-pallet-item img{
        width: 11em;
        height: 11em;
        object-fit: fill;
        box-sizing: border-box;
        outline: none;
        text-align: center;
    }
    .header-colours{
        font: "Open Sans", sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        color: var(--h1-color);
    }
    .header-p{
        font-size: 1.2rem;
    }
    .davis-title{
        font: "Open Sans", sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.2;
        color: var(--h1-color);
        margin: 0;
        padding: 0;
    }
    .colour-item h2{
        font-size: 0.7rem;
        text-align: left;
        margin-right: 8px;
    }
}
@media only screen and (max-width: 400px){
    .colour-item img{
        width: 150px;
        height: 150px;
    }
    .colour-pallet-item img{
        width: 320px;
        height: 320px;
    }
    
}