:root {
    --background-color: #FFFFFF;
    --p-color: #E12C2C;
    --h1-color: #000000;
    --alt-text-color: #FFFFFF;
    --border-colour: #000000;
    --button-background-color: #E12C2C;
    --button-text-color: #FFFFFF;
    --navbar-background-color: #000000;
    --navbar-border-color: #E12C2C;
    --button-hover-color: #000000;
    --bar-background-color: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    font-size: 32px;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width: .75rem;
}
body::-webkit-scrollbar-track{
    background: var(--p-color);
}
body::-webkit-scrollbar-thumb{
    background: var(--navbar-background-color);
}
.main{
    background-color: var(--background-color);
}
#nav-logo-img{
    width: 13.4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}
.div-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding: 20px;
}
.check-out-work{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #FFFFFF; */
}
.header-check-out-work{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    font: "Brush";
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--h1-color);
    margin-top: 50px; 
}
.examples {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    margin: 0 auto;    
}
.example img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    box-sizing: border-box;
    position: relative;
    align-items: center;
    border: var(--border-colour) 0.2rem solid;
    border-radius: 20px;
    margin: 5px;
}
.header-transform{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    font: "Brush";
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--h1-color);
}
.transform-landscape{
    text-align: center;
    background-color: var(--background-color);
}
.transform-landscape p{
    margin: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    color: var(--p-color);
    font: "Open Sans", sans-serif;
    font-size: 2rem;
}
.cta {
    display: inline-block;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    font: "Open Sans", sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
img{
    transition: transform 0.25s ease;
}
img:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
.cta:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.offerings-section{
    background-color: var(--background-color);
}
.our-services{
    background-color: var(--background-color);
    text-align: center;
    font-size: 2.5rem;
}
#header-our-services{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    font: "Open Sans", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--h1-color);
}
#services-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#services-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: var(--button-background-color);
    font: "Open Sans", sans-serif;
    font-size: 2rem;
    color: var(--button-text-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
#services-item:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
#header-offerings{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font: "Brush";
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--h1-color);
}
#offering-h3{
    font-weight: 500;
    font: "Brush";
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--p-color);
}
#offering-p{
    text-align: center;
    color: var(--h1-color);
    font: "Open Sans", sans-serif;
    font-size: 2.2rem;
}



.about-section p{
    margin-left: 75px;
    margin-right: 75px;
    color: var(--p-color);
    font: "Open Sans", sans-serif;
    font-size: 2.2rem;
}
.about-section h2{
    font-size: 5rem;
    color: var(--h1-color);
}
.about-section{
    padding-bottom: 50px;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--navbar-background-color);
    position: fixed;
    width: 100%;
    z-index: 10;
    border-bottom: 5px solid var(--navbar-border-color);
}
.hamburger{
    display:none;
}
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: var(--navbar-background-color);
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;

    display: inline-block;
    background-color: var(--button-background-color);
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    font: "Open Sans", sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--button-text-color);
}
.nav-link:hover{
    color: var(--button-hover-color);
}

/* .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: white;
} */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--navbar-background-color);
    color: var(--alt-text-color);
    text-align: center;
    padding: 10px;
    border-top: 3px solid var(--navbar-border-color);
    z-index: 999;
}

footer p {
    font-size: 16px;
    margin: 0;
}

#click-me-homepage {
    display: inline-block;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    font: "Open Sans", sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
#click-me-homepage:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.transform-landscape{
    z-index: 0;
}
.header-transform{
    z-index: 0;
}


@media screen and (max-width: 1319px) and (min-width: 1067px) {
    .header-check-out-work{
        margin-top: 150px;
    }
    .examples {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        margin: 0 auto;    
    }
    .example img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        box-sizing: border-box;
        position: relative;
        align-items: center;
        border-radius: 20px;
        margin: 5px;
    }
    .header-transform{
        margin-top: 700px;
    }
    #header-offerings{
        margin-top: 500px;
    }
    .transform-landscape p{
        margin-left: 150px;
        margin-right: 150px;
    }

}

@media screen and (max-width: 1067px) {
    .header-check-out-work{
        margin-top: 150px;
    }
    .examples {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: auto;
        margin: 0 auto;    
    }
    .example img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        box-sizing: border-box;
        position: relative;
        align-items: center;
        border-radius: 20px;
        margin: 5px;
    }
    .header-transform{
        margin-top: 1100px;
    }
    .our-services{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .offerings-section{
        margin-top: 750px;
    }
    .about-section{
        margin-top: 0px;
        padding-top: 0px;
    }
    .transform-landscape p{
        margin-left: 100px;
        margin-right: 100px;
    }

}





@media only screen and (max-width: 1048px){
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--navbar-background-color);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        position: absolute;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .bar{
        background-color: var(--bar-background-color);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .container.active{
        padding-top: 10px;
        transform: translateY(10%);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3 ease-in-out;
    }
    .container{
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5 ease-in-out;
    }
}

@media only screen and (max-width: 699px) {
    .header-transform{
        margin-top: 3500px;
    }
    #header-offerings{
        margin-top: 3000px;
    }
    .our-services{
        margin-top: 1750px;
    }
    .about-section{
        margin-top: 500px;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 100px;
    }
    .about-section p{
        margin-left: 50px;
        margin-right: 50px;
    }
    .check-out-work {
        z-index: 1;
    }
    .header-transform{
        z-index: -1;
    }
}
@media only screen and (max-width: 564px){
    .about-section{
        padding-bottom: 750px;
    }
    .check-out-work {
        z-index: 1;
    }
    .header-transform{
        z-index: -1;
    }
}

@media only screen and (max-width: 425px){
    .transform-landscape{
        margin: 0px;
    }
    .main{
        text-align: center;
        align-items: center;
    }
    .container{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    main{
        justify-content: center;
        align-items: center;
    }
    .div-content{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header-check-out-work{
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 2.5rem;
    }
    .transform-landscape{
        padding: 0;
        margin: 0;
    }
    .transform-landscape p{
        margin: 0px;
        padding: 0px;
    }
    .header-transform{
        font-size: 2.5rem;
        padding: 0;
        margin-top: -200px;
        margin-bottom: 0px;
    }
    #header-offerings{
        font-size: 3rem;
    }
    #offerings-list{
        margin-right: 0px;
        margin-left: 0px;
    }
    .offerings-section{
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        padding: 0;
        margin: 0;
        margin-top: -1800px;
    }
    #header-offerings{
        font-size: 2.5rem;
    }
    #offerings-item {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        font: "Open Sans", sans-serif;
        font-size: 1.5rem;
        color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
      }
    #header-our-services{
        font-size: 2.5rem;
    }
    #services-list{
        margin-right: 0px;
        margin-left: 0px;
    }
    .our-services{
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
        margin-top: 1200px;
        margin-bottom: 100px;
    }
    #services-item {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        font: "Open Sans", sans-serif;
        font-size: 1.5rem;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-in-out;
      }
      #header-about{
        font-size: 2.5rem;
      }
      .about-section{
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        margin-top: -500px;
        margin-bottom: -250px;
      }
      .about-section p{
        margin: 0;
        padding: 0;
        text-align: center;
      }
      #p-about{
        margin: 0px;
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 1.2rem;
        text-align: center;
      }
      html, body {
        max-width: 100%;
    }
    .div-content{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .check-out-work {
        z-index: 1;
    }
    .header-transform{
        z-index: -1;
    }
    #offering-p{
        font-size: 1.2rem;
    }
    #offering-h3{
        font-size: 1.5rem;
    }
    .example img {
        width: 175px;
        height: 175px;
    }
}

@media only screen and (max-width: 400px){
    .our-services{
        margin-top: 1300px;
    }
    .about-section{
        margin-top: -400px;
        margin-bottom: -250px;
    }
    .offerings-section{
        margin-top: -1750px;
    }
    .transform-landscape{
        margin-top: 0px;
    }
    .example img{
        width: 125px;
        height: 125px;
    }
}